body {
    background-repeat: repeat-x;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin-top: 25px;
  color: #ffffff;
}
#imgVector{
  position: fixed;
  left:0;
  top:0;
  z-index:1;
  filter:blur(5px);
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-size:50px; 
}

p{
  color: #b5d5a8;
  font-size:30px;
}

.d{
  padding: 5px 25px;
  font-size: 18px;
  color: #1a1a1a;
}
#divId{
  font-size: 30px;
  color: #b5d5a8;
}
button:active{ background-color: darkblue}

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    cursor:pointer;
}

#divEbenen{
  z-index:110;
  position: relative
}
#benutzername{
  font-size: 28px;
  color:white;
  
}
#bname{
  font-size: 25px;

}

button {
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  border-radius: 4px;
}
#divreloading {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}