body {
    background-repeat: repeat-x;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin-top: 25px;
  color: #ffffff;
}
#imgVector{
  position: fixed;
  left:0;
  top:0;
  z-index:1;
  filter:blur(5px);
}
h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  font-size:50px; 
}

p{
  color: #b5d5a8;
  font-size:30px;
}

.d{
  padding: 5px 25px;
  font-size: 18px;
  color: #1a1a1a;
}
button {
  background-color: #56a659;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px;
}
#divId{
  font-size: 30px;
  color: #b5d5a8;
}
button:hover { background-color: #8FBC8F }
button:active{ background-color: darkblue}

#divEbenen{
  z-index:110;
  position: relative
}
#Suchfeld{
  font-size: 25px;
}
#bname{
  font-size: 25px;
}